.custom-select .ant-select-selector {
  border: none;
  border-radius: 0;
}

.custom-select .ant-select-selector .ant-select-selection-item-remove {
  display: none;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input:focus {
  box-shadow: none;
}
